#headerMenu {
  overflow: hidden;
  height: 48px;
  background: transparent;
  transition: height 0.05s linear;
  .ant-menu-item > span {
    text-transform: uppercase;
  }
  &.menu__hidden {
    height: 5px;
    transition: height 0.05s linear;
  }
}
